name: Publish to npm

on:
  workflow_call:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.5.6

      - name: Cache Deno dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/deno
          key: ${{ runner.os }}-deno-${{ hashFiles('deno.lock') }}
          restore-keys: |
            ${{ runner.os }}-deno-

      - name: Get tag version
        id: get_tag_version
        run: echo "TAG_VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_OUTPUT

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.11.1"

      # Ensure npm 11.5.1 or later for trusted publishing
      - run: npm install -g npm@latest

      - name: Build npm package
        run: deno run -A ./scripts/build_npm.ts ${{ steps.get_tag_version.outputs.TAG_VERSION }}

      - name: Publish to npm
        run: |
          cd build/npm
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
