name: Publish CLI

on:
  workflow_dispatch:
    inputs:
      npm:
        type: boolean
        default: true
        description: publish to npm
  push:
    tags:
      - "v*"

jobs:
  test:
    uses: ./.github/workflows/ci.yml

  npm:
    if: ${{ inputs.npm || github.event_name == 'push' }}
    needs: test
    uses: ./.github/workflows/publish-npm.yml
    permissions:
      id-token: write
      contents: read

  release:
    needs:
      - test
      - npm
    if: ${{ always() && needs.test.result == 'success' && (needs.npm.result == 'success' || needs.npm.result == 'skipped') }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Get tag version
        id: get_tag_version
        run: echo "TAG_VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: v${{ steps.get_tag_version.outputs.TAG_VERSION }}
          name: v${{ steps.get_tag_version.outputs.TAG_VERSION }}
          generateReleaseNotes: true
          body: |
            ## Changes in ${{ steps.get_tag_version.outputs.TAG_VERSION }}
            ## Installation

            ```bash
            npm install -g jiji@${{ steps.get_tag_version.outputs.TAG_VERSION }}
            ```
